{% extends 'base.html' %} 
{% load static %} 
{% load render_bundle from webpack_loader %} 
{% load filters %} 
{% block title %} Calendar {% endblock title %} 
{% block content %}
{% comment %} {{ cycles|json_script:"cycles" }} {% endcomment %}
<div id="app">
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      {% include 'includes/sidebar.html' %}
      <div class="layout-page">
        {% include 'includes/navbar.html' %}
        <div class="content-wrapper">
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
              <div class="col-lg-12 mb-4 order-0">
                {% csrf_token %}
                <calendar></calendar>			
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% render_bundle 'main' %} 
{% include 'includes/footer_scripts.html'%} 
{% endblock content %}
